### Ejercicio 1

In [1]:
with open('names.txt') as f:
    lines = f.readlines()
    with open('data/names.csv', 'w') as fw:
        fw.write('nombre , apellido\n')
        for l in lines:
            ##nombre, apellido = l.split()
            ##fw.write('{},{}\n'.format(nombre, apellido))
            fw.write(','.join(l.split())+ '\n')

FileNotFoundError: [Errno 2] No such file or directory: 'names.txt'

### Ejercicio 2

In [4]:
with open('data/el_quijote.txt', 'r') as f:
    content = f.read()
    
words = content.split(" ")
counter = {}

for w in words:
    if w in counter:
        counter[w] += 1
    else:
        counter[w] = 0

sorted_counter = sorted(counter, key=counter.get, reverse=True)
for w in sorted_counter[:10]:
    print(w, counter[w])

FileNotFoundError: [Errno 2] No such file or directory: 'data/el_quijote.txt'

In [75]:
# !pip install nltk

In [76]:
from nltk.corpus import stopwords 
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.tokenize import word_tokenize, regexp_tokenize

In [77]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('perluniprops')
nltk.download('nonbreaking_prefixes')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/rafaelfarias/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /home/rafaelfarias/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package perluniprops to
[nltk_data]     /home/rafaelfarias/nltk_data...
[nltk_data]   Package perluniprops is already up-to-date!
[nltk_data] Downloading package nonbreaking_prefixes to
[nltk_data]     /home/rafaelfarias/nltk_data...
[nltk_data]   Package nonbreaking_prefixes is already up-to-date!

True

In [78]:
## defecto para ingles
word_tokens = word_tokenize(content.lower())
len(word_tokens)

213214

In [79]:
## no funciona bien con español, ya que no incluye acentos ni ñ
word_tokens = regexp_tokenize(content.lower(), pattern='\w+') 
len(word_tokens)

201202

In [80]:
## mejor para español pero contiene caracteres como punto, comas, etc..
toktok = ToktokTokenizer()
word_tokens = toktok.tokenize(content.lower()) 
len(word_tokens)

210818

In [81]:
stop_words = list(stopwords.words('spanish')) 
stop_words += [',', '.', ':', ';'] ## agregamos mas stopwords
len(stop_words)

317

In [82]:
filtered_words =[w for w in word_tokens if not w in stop_words ] 
len(filtered_words)

96107

In [83]:
from collections import Counter
counter = Counter(filtered_words)
counter.most_common(10)

[('don', 1070),
 ('si', 970),
 ('más', 959),
 ('tan', 758),
 ('él', 734),
 ('quijote', 670),
 ('había', 669),
 ('dijo', 653),
 ('sancho', 583),
 ('así', 540)]

### Ejercicio 3

In [84]:
import csv

with open('/home/rafaelfarias/Dropbox/Postgrados/MDS/Almacenamiento_y_captura_de_datos/Tarea_WebScrapping/data/data-text.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row[0], row[1])
        break

Indicator PUBLISH STATES

In [85]:
import pandas as pd
df = pd.read_csv('/home/rafaelfarias/Dropbox/Postgrados/MDS/Almacenamiento_y_captura_de_datos/Tarea_WebScrapping/data/data-text.csv')
df

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [86]:
df.to_csv('/home/rafaelfarias/Dropbox/Postgrados/MDS/Almacenamiento_y_captura_de_datos/Tarea_WebScrapping/data/data-text-copy.csv')

### Ejercicio 4

In [87]:
import json

with open('/home/rafaelfarias/Dropbox/Postgrados/MDS/Almacenamiento_y_captura_de_datos/Tarea_WebScrapping/data/data-text.json') as f:
    content = f.read()
    data = json.loads(content)

for item in data:
    print(item)
    break

{'Indicator': 'Life expectancy at birth (years)', 'PUBLISH STATES': 'Published', 'Year': 1990, 'WHO region': 'Europe', 'World Bank income group': 'High-income', 'Country': 'Andorra', 'Sex': 'Both sexes', 'Display Value': 77, 'Numeric': 77.0, 'Low': '', 'High': '', 'Comments': ''}

In [88]:
with open('file.json', 'w') as f:
    json.dump(data, f)

In [89]:
df = pd.read_json('/home/rafaelfarias/Dropbox/Postgrados/MDS/Almacenamiento_y_captura_de_datos/Tarea_WebScrapping/data/data-text.json')
df

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77,,,
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80,,,
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28,,,
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23,,,
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66,,,
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54,,,
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49,,,
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36,,,
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51,,,

In [90]:
df.to_json('/home/rafaelfarias/Dropbox/Postgrados/MDS/Almacenamiento_y_captura_de_datos/Tarea_WebScrapping/data/data-text-copy.json')

### Ejercicio 5

In [91]:
#!conda install xlrd

In [92]:
import xlrd
book = xlrd.open_workbook("/home/rafaelfarias/Dropbox/Postgrados/MDS/Almacenamiento_y_captura_de_datos/Tarea_WebScrapping/data/SOWC 2014 Stat Tables_Table 9.xlsx")

# sheet = book.sheet_by_name("Table 9 ")
sheet = book.sheet_by_index(1)

print(sheet.name)
print(sheet.nrows)
print(sheet.ncols)

XLRDError: Excel xlsx file; not supported

In [ ]:
df = pd.DataFrame(columns = ['Name', 'child_labor_total', 'child_labor_male','child_labor_female', 
                             'child_marriage_married_by_15', 'child_marriage_married_by_18']) 
for i in range(14, 211):

    # Start at 14th row, because that is where the countries begin
    row = sheet.row_values(i)
    
    df = df.append({'Name' : row[1], 'child_labor_total' : row[4], 'child_labor_male' : row[6],
                   'child_labor_female': row[8], 'child_marriage_married_by_15': row[10],
                   'child_marriage_married_by_18': row[12]}, ignore_index=True) 

    if row[1] == "Zimbabwe":
        break

In [ ]:

df

In [ ]:
## usando pandas

In [93]:
df = pd.read_excel("/home/rafaelfarias/Dropbox/Postgrados/MDS/Almacenamiento_y_captura_de_datos/Tarea_WebScrapping/data/SOWC 2014 Stat Tables_Table 9.xlsx", sheet_name=1, header=None)

ValueError: Your version of xlrd is 2.0.1. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.

In [ ]:
df

In [ ]:
df = df.iloc[14:211,[1,4,6,8,10,12]].reset_index(drop=True)

In [ ]:
df

In [ ]:
names = {
    1: 'Name',
    4: 'child_labor_total',
    6: 'child_labor_male',
    8: 'child_labor_female',
    10: 'child_marriage_married_by_15',
    12: 'child_marriage_married_by_18'
    }

df.rename(columns=names)